@model IEnumerable<Webshop.DAL.Vevo>

@{
    ViewBag.Title = "Vevok";
}

<h2>Vevok</h2>

<table class="table">
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Nev (@item.Email)
            </td>
        </tr>
    }

</table>
